#content{
    width: 100%;
    height: 100%;
}

#calculadora{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#cm-input{
    --color : #4A0688;
    --highlight-color-focused : #4A0688;
    --highlight-color-valid : #4A0688;
    --border-width: 0.15rem;
    --border-color:#FF9DBC;
}

#btn-calc{
    --background:#FF9DBC;
}
#btn-calc:active{
    --background:#FFCEDE;
    transform: scale(0.8);
}

.result-input{
    --color : #4A0688;
    --highlight-color-focused : #4A0688;
    --highlight-color-valid : #4A0688;
    --border-width: 0.15rem;
    --border-color:#4A0688;
    margin-top: 0.5rem;
}

#btn-change:active{
    --background:#FFCEDE;
    transform: scale(0.8);
}

.cm-input-pro{
    --color : #4A0688;
    --highlight-color-focused : #4A0688;
    --highlight-color-valid : #4A0688;
    --border-width: 0.15rem;
    --border-color:#FF9DBC;
}

#btn-calc-pro{
    --background:#FF9DBC;
}
#btn-calc-pro:active{
    --background:#FFCEDE;
    transform: scale(0.8);
}

.result-input-pro{
    --color : #4A0688;
    --highlight-color-focused : #4A0688;
    --highlight-color-valid : #4A0688;
    --border-width: 0.15rem;
    --border-color:#4A0688;
    margin-top: 0.5rem;
}





